<section id="home">
    <div class="hero">
      <h1>Arkiva Digjitale<br>
        ne doren tende ne kohe reale!</h1>
      <br>
      <br>
      <p>Manage multiple companies in a single system. Manage <br>
        employees and contractors using streamined processes<br>
        and user friendly UI. Fast-track your onboarding process.<br>
        Plan recruitment, and focus on what’s important to your<br>
        business.</p>
      <br>
      <br>
      <p><strong>Eksploro Tani</strong></p>
      </div>
  <div class="web-image">
    <img src="../../assets/images/web.svg">
  </div>
</section>
