<div class="tirane">
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
      <div class="dropdown">
        <li class="nav-link">
          <span class="text-nav-text"><i class="pi pi-star-fill" style="font-size: 20px"></i><h4>Artistet</h4></span></li>
        <div class="dropdown-content">
          <li class="nav-link">
            <a [routerLink]="['/mitrush-kuteli']">
              <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
            </a>
          </li>

          <li class="nav-link">
            <a [routerLink]="['/dritero-agolli']">
              <span class="text-nav-text"><img src="../../../../assets/images/ismail-kadare.jpg"> <h4>Ismail Kadare</h4></span>
            </a>
          </li>
        </div>
      </div>

        <div class="dropdown">
          <li class="nav-link">
            <span class="text-nav-text"><i class="pi pi-star-fill" style="font-size: 20px"></i><h4>Piktore</h4></span></li>
          <div class="dropdown-content">
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>

            <li class="nav-link">
              <a [routerLink]="['/dritero-agolli']">
                <span class="text-nav-text"><img src="../../../../assets/images/dritero-agolli.jpg"> <h4>Dritero Agolli</h4></span>
              </a>
            </li>
          </div>
        </div>
        <div class="dropdown">
          <li class="nav-link">
            <span class="text-nav-text"><i class="pi pi-star-fill" style="font-size: 20px"></i><h4>Shkrimtare</h4></span></li>
          <div class="dropdown-content">
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>

            <li class="nav-link">
              <a [routerLink]="['/dritero-agolli']">
                <span class="text-nav-text"><img src="../../../../assets/images/dritero-agolli.jpg"> <h4>Dritero Agolli</h4></span>
              </a>
            </li>
          </div>
        </div>

        <div class="dropdown">
          <li class="nav-link">
            <span class="text-nav-text"><i class="pi pi-star-fill" style="font-size: 20px"></i><h4>Kengetare</h4></span></li>
          <div class="dropdown-content">
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/dritero-agolli']">
                <span class="text-nav-text"><img src="../../../../assets/images/dritero-agolli.jpg"> <h4>Dritero Agolli</h4></span>
              </a>
            </li>
          </div>
        </div>

        <div class="dropdown">
          <li class="nav-link">
            <span class="text-nav-text"><i class="pi pi-star-fill" style="font-size: 20px"></i><h4>Skulptore</h4></span></li>
          <div class="dropdown-content">
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/dritero-agolli']">
                <span class="text-nav-text"><img src="../../../../assets/images/dritero-agolli.jpg"> <h4>Dritero Agolli</h4></span>
              </a>
            </li>
          </div>
        </div>

        <div class="dropdown">
          <li class="nav-link">
            <span class="text-nav-text"><i class="pi pi-star-fill" style="font-size: 20px"></i><h4>Skulptore</h4></span></li>
          <div class="dropdown-content">
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/dritero-agolli']">
                <span class="text-nav-text"><img src="../../../../assets/images/dritero-agolli.jpg"> <h4>Dritero Agolli</h4></span>
              </a>
            </li>
          </div>
        </div>


        <div class="dropdown">
          <li class="nav-link">
            <span class="text-nav-text"><i class="pi pi-star-fill" style="font-size: 20px"></i><h4>Skulptore</h4></span></li>
          <div class="dropdown-content">
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/dritero-agolli']">
                <span class="text-nav-text"><img src="../../../../assets/images/dritero-agolli.jpg"> <h4>Dritero Agolli</h4></span>
              </a>
            </li>
          </div>
        </div>


        <div class="dropdown">
          <li class="nav-link">
            <span class="text-nav-text"><i class="pi pi-star-fill" style="font-size: 20px"></i><h4>Skulptore</h4></span></li>
          <div class="dropdown-content">
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/mitrush-kuteli']">
                <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>tirane Kuteli</h4></span>
              </a>
            </li>
            <li class="nav-link">
              <a [routerLink]="['/dritero-agolli']">
                <span class="text-nav-text"><img src="../../../../assets/images/dritero-agolli.jpg"> <h4>Mitrush Kuteli</h4></span>
              </a>
            </li>
          </div>
        </div>


      </ul>
    </div>
  </div>
</div>
