<div class="diber">
  <div class="menu-bar">
    <div class="menu">


      <ul class="menu-links">

        <li class="nav-link">
          <a [routerLink]="['/mitrush-kuteli']">
            <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>diber Kuteli</h4></span>
          </a>
        </li>

        <li class="nav-link">
          <a [routerLink]="['/dritero-agolli']">
            <span class="text-nav-text"><img src="../../../../assets/images/dritero-agolli.jpg"> <h4>Dritero Agolli</h4></span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/ismail-kadare']">
            <span class="text-nav-text"><img src="../../../../assets/images/ismail-kadare.jpg"> <h4>Ismail Kadare</h4></span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/mitrush-kuteli']">
            <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>Mitrush KUTELI</h4></span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/mitrush-kuteli']">
            <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>Mitrush KUTELI</h4></span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/mitrush-kuteli']">
            <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>Mitrush KUTELI</h4></span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/mitrush-kuteli']">
            <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>Mitrush KUTELI</h4></span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/mitrush-kuteli']">
            <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>Mitrush KUTELI</h4></span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/mitrush-kuteli']">
            <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>Mitrush KUTELI</h4></span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/mitrush-kuteli']">
            <span class="text-nav-text"><img src="../../../../assets/images/mitrush-kuteli.jpg"> <h4>Mitrush KUTELI</h4></span>
          </a>
        </li>



      </ul>
    </div>
  </div>
</div>
