<section id="web-header">
  <section id="header">
    <p><a href="../../index.html"><img src="../../assets/images/icon.svg" class="logo" alt="" width="50px"></a>     </p>   <h1>ARKIVA DIGJITALE</h1>

    <div>
      <ul id="navbar">
        <li><a class="active" href="../../index.html">Kryefaqe</a></li>
        <li><a routerLink="carousel">Harta</a></li>
        <li><a href="#new">Arkiva</a></li>
        <li><a routerLink="map-archive">Rreth Nesh</a></li>
        <li><a href="#contact">Suporti</a></li>
        <div class="login-part">
        <li><a routerLink="login"> Hyr</a></li>
        <li><a routerLink="register">Regjistrohu</a></li>
        </div>
      </ul>
    </div>
  </section>
</section>



<router-outlet></router-outlet>




