<div class="circle"></div>


<section id="register">


<div class="row">

  <h1>Regjistrohu tani</h1>
  <br>
  <div class="register-form">
    <p>
      <input type="text"  placeholder=" Name" formControlName="name"
             pInputText />
    </p>
    <br>
    <p>
      <input type="text"  placeholder=" Email Address" formControlName="email"
             pInputText />
    </p>
    <br>
    <p>
      <input type="password"  placeholder=" Password " formControlName="password"
             pInputText />
    </p>
    <br>
    <input type="password"  placeholder=" Confirm Password " formControlName="password"
           pInputText />
    <p>
      <br>
      <button>
        Register
      </button>
    <div class="forgot-pass">
      <p><strong><a routerLink="/login"> Ke nje llogari? Hyr tani</a></strong></p>
    </div>

  </div>
</div>
  <div class="right-img">
    <img src="../../assets/images/register.svg">

  </div>
</section>
