<div class="circle"></div>

<section id="login">


    <div class="right-img">
      <img src="../../assets/images/login.svg">

    </div>
  <div class="row">


    <h1>Akseso llogarine tende</h1>
    <br>
    <div class="login-form">

      <p>
        <input type="text"  placeholder=" Email Address" formControlName="username"
               pInputText />
      </p>
      <br>

      <input type="password"  placeholder=" Password " formControlName="password"
             pInputText />
      <p>
        <br>
        <button>
          Hyr
        </button>
      <div class="forgot-pass">
        <p><a href=""> Keni harruar fjalekalimin</a></p>
        <p><strong><a routerLink="/register"> Krijo nje llogari te re!</a></strong></p>
      </div>

    </div>

  </div>
</section>
