
<section id="inline">
<map-archive></map-archive>
<app-tirana-author-list></app-tirana-author-list>
  <div class="folder">
    <div class="businesses-background-card-right">
      <div class="business-info-card">
        <div class="auth-image">
          <img src="assets/images/mitrush-kuteli.jpg">
        </div>
      </div>
    </div>
    <div class="businesses-background-card-right-2">
      <div class="business-info-card-2">
      </div>

      <div class="name-auth">
        <h3>MITRUSH KUTELI</h3>
      </div>
    </div>
  </div>
</section>
